<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}slks/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
</head>
<body>
<DIV id=top><!--顶部开始-->
	<DIV class=header>
		<DIV class=header_box>
			<DIV class=logo>
				<IMG src="{IMG_PATH}/slks/logo.jpg"  width=578 height=84></DIV>
			<DIV class=hot>
				<DIV class=hot_n1>
					<DIV class=hot_n2>
						<UL>
							<LI>
								<A onclick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href);"	href="##" rel=nofollow>设为首页</A>                                </LI>
							<LI>
								<A	onclick=javascript:window.external.AddFavorite(location.href,document.title)	href="javascript:void(0)" rel=nofollow>加入</A>                             </LI>
						</UL>
					</DIV>
					<DIV class=hot_n3>
						<IMG src="{IMG_PATH}/slks/top_icon.jpg"   width=16 height=16>
						<A href="http://e.weibo.com/u/2820223733">企业微博</A>
					</DIV>
				</DIV>
				<DIV class=xg_hot_tel>
					<IMG	src="{IMG_PATH}/slks/xg_tel.jpg" width=234	height=39>
				</DIV>
			</DIV>
		</DIV>
	</DIV>
	<div class=nav>
		<div class=nav_box>
			{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
			<ul>
				<li class=li1><a href="?">首页</a> </li>
				{loop $data $r}
				<li class=li1><a href="{$r[description]}">{$r[catname]}</a> </li>
				{/loop}
			</ul>
			{/pc}
		</div>
	</div>
</DIV>
<!--顶部结束-->